body {
    font-family: Arial, sans-serif;
    background-color: rgb(204, 239, 239);
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 50px auto;
    padding: 20px 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 50px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 5px 0px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

span {
    font-size: 12px;
    color: red;
}