{% extends 'base.html' %}

{% block title %}
    COURSES
{% endblock %}

{% block content %}

<h1>Courses List</h1>

<table border="5">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Teacher</th>
        </tr>
    </thead>
    <tbody>
        {% for id, course in course_list.items() %}
            <tr>
                <td>{{ id }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.description | limit_words(5)}}</td>
                <td>{{ course.teacher }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No courses available.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}