{% extends 'base.html' %}

{% block title %}
    PROFILE
{% endblock %}

{% block content %}

    <h1>Student Profiles</h1>
    <ul>
        {% for student in student_list %}
            <li>
                <p><strong>Name:</strong> {{ student.name }}</p>
                <p><strong>Email:</strong> {{ student.email }}</p>
                <p><strong>Major:</strong> {{ student.major }}</p>
            </li>
        {% else %}
            <li>No students found.</li>
        {% endfor %}
    </ul>

{% endblock %}